/target
/.settings
/.project
/target*
/.settings*
.settings/org.eclipse.wst.common.component
.project
.idea
.idea/*
.settings/
.classpath
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/*
/target

